A:hover{
    text-decoration: underline;
}
#forms:hover{
    box-shadow: 0 0 5px grey;
}
.Next{
    font-size: 13px;
    text-align: right;
    color: black;
    font-family: Arial, sans-serif;
    margin-right: 15px;
    margin-top: 15px;
    text-decoration: none;
}
.Logo{
    display: block;
    position: relative;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 27px;
}
.texto-encima{
    display: block;
    position: absolute;
    color: rgb(54, 139, 179);
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    top: 82%;
    left: 55.86%;
}
.form{
    width: 98%;
    height: 35px;
    margin-bottom: 25px; 
    border-radius: 20px;
    border-color: rgb(212, 221, 220);
    border-width: 1mm;
    border-style: double;
    font-size: 16px;
}
.Botones{
    display: none;
    background-color: rgb(248, 249, 250);
    border-style: none;
    width: 140px;
    height: 35px;
    display: flexbox;
    margin: 5px;
    font-size: 14px;
    color: rgb(60, 62, 65);
    
}                
.container{
    width: 583px;
    margin: auto;
}
.container2{
    width: 330px;
    margin: auto;
    margin-top: 0px;
}
.container3{
    display: flex;
    position: absolute; 
    bottom: 0px;    
    width: 97.5%;
    height: 16px;
    background-color: rgb(242, 242, 242);
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-left: -10px;
    justify-content: space-between;
}